- @window_title = 'New card'

.panel
  = render 'side'

  .panel__main
    = form_for @card, :html => { 'up-target' => '.panel__main' } do |form|
      %dl.controls
        %dt= form.label :title
        %dd= form.text_field :title
        %dt= form.label :body
        %dd= form.text_area :body

      .buttons
        = form.submit 'Save card'
