<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/integration_test_head' %>
  </head>
  <body class="<%= 'has-nav' if @nav %>">
    <%= render @nav if @nav %>

    <div up-main class="container">
      <%= render_flashes %>
      <%= yield %>
    </div>
  </body>
</html>
