<% require "base64" %>

<div class="result">

  <p>
    Submitted <code>params</code> were:
  </p>

  <dl>
    <% params.each do |key, value| %>
      <dt><code><%= key %></code></dt>
      <dd>
        <% if value.is_a?(String) %>
          <code><%= value %></code>
        <% elsif value.is_a?(ActionDispatch::Http::UploadedFile) %>
          <% if value.original_filename.ends_with?('.jpg') %>
            <img src="data:image/jpeg;base64,<%= Base64.encode64(value.read) %>">
          <% elsif value.original_filename.ends_with?('.png') %>
            <img src="data:image/png;base64,<%= Base64.encode64(value.read) %>">
          <% else %>
            <%= value.original_filename %> (<%= value.size %> bytes)
          <% end %>
        <% else %>
          <code><%= value.inspect %></code>
        <% end %>
      </dd>
    <% end %>
  </dl>

  <p>
    Request content type was:<br>
    <code><%= request.media_type %></code>
  </p>

</div>
