<%= form_for [:layer_test, @project] do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <h3>Budgets</h3>

  <%= form.fields_for :budgets do |budget_form| %>
    <% byebug %>
    <%= budget_form.object.name %> (<%= budget_form.object.amount %>)

    <%= link_to 'Edit', edit_layer_test_budget_path(budget_form.object),
      'up-layer': 'modal',
      'up-accept-location': layer_test_budgets_path + ' ' + layer_test_budget_path(:id),
      'up-on-accepted': 'up.validate("form")'
    %>

    <hr>
  <% end %>

  <div class="budgets--new">
    <%= link_to 'New', new_layer_test_budget_path,
      'up-layer': 'modal',
      'up-accept-location': layer_test_budget_path('$id'),
      'up-on-accepted': 'up.validate("form", { params: { "project[budgets_attributes][0][id]": value.id } })'
    %>
  </div>

  <%= form.submit "Save" %>

<% end %>
