<div class="row mb-4">
  <div class="col">
    <h2>Project #<%= @project.id %></h2>
  </div>

  <div class="col-sm-auto">
    <%= link_to 'Edit', [:edit, :layer_test, @project], class: 'btn btn-primary', 'up-follow': '' %>
    <%= link_to 'Delete', [:layer_test, @project], method: :delete, 'up-follow': '', 'up-confirm' => 'Really delete?', class: 'btn btn-danger mr-3'  %>
  </div>
</div>

<dl class="my-4">
  <dt>Name</dt>
  <dd><%= @project.name %></dd>
  <dt>Company</dt>
  <dd>TODO</dd>
</dl>

<div class="row mb-2">
  <div class="col">
    <h4>Project budgets</h4>
  </div>

  <div class="col-sm-auto">
    <div class="col-sm-auto">
      <%= link_to 'Add budget', new_layer_test_budget_path(budget: { project_id: @project.id }), class: 'btn btn-primary btn-sm',
        'up-layer': 'new',
        'up-accept-location': layer_test_budget_path('$id'),
        'up-size': 'small',
        'up-on-accepted': "up.reload('.budgets')",
        'up-context': { from_project_form: true }.to_json
      %>
    </div>
  </div>
</div>

<div class="budgets">
  <% if @project.budgets.present? %>
    <table class="table table-sm">
      <thead>
        <th>Budget</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <% @project.budgets.each do |budget| %>
          <tr>
            <td><%= budget.name %></td>
            <td><%= budget.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
