<div class="example">

  <h1>Unpoly tests</h1>

  <h2>Unit tests</h2>

  <ul>
    <li>
      <%= link_to 'Jasmine specs with jQuery 3', '/specs?jquery=3' %>
      <ul>
        <% %w[
          up.dom
          up.feedback
          up.form
          up.history
          up.layout
          up.link
          up.log
          up.modal
          up.motion
          up.popup
          up.protocol
          up.proxy
          up.rails
          up.syntax
          up.toast
          up.tooltip
          up.util
        ].each do |mod| %>
          <li><%= link_to mod, "/specs?spec=#{mod}" %></li>
        <% end %>
      </ul>
    </li>
    <li>
      <%= link_to 'Jasmine specs with jQuery 2', '/specs?jquery=2' %>
    </li>
    <li>
      <%= link_to 'Jasmine specs with jQuery 1', '/specs?jquery=1' %>
    </li>
  </ul>

  <h2>Integration tests</h2>

  <ul>
    <li>
      <%= link_to 'Tooltip', '/css_test/tooltip' %>
      (<%= link_to 'with Bootstrap', '/css_test/tooltip?bootstrap=1' %>)
    </li>
    <li>
      <%= link_to 'Popup', '/css_test/popup' %>
      (<%= link_to 'with Bootstrap', '/css_test/popup?bootstrap=1' %>)
    </li>
    <li>
      <%= link_to 'Modal', '/css_test/modal' %>
      (<%= link_to 'with Bootstrap', '/css_test/modal?bootstrap=1' %>)
    </li>
    <li><%= link_to 'Form (basic)', '/form_test/basic/new' %></li>
    <li><%= link_to 'Form (upload)', '/form_test/upload/new' %></li>
    <li><%= link_to 'Form (redirect)', '/form_test/redirect/new' %></li>
    <li><%= link_to 'Error', '/error_test/trigger' %></li>
    <li><%= link_to 'Booting with non-GET method', '/method_test/page1' %></li>
    <li><%= link_to 'Fragment update', '/replace_test/page1' %></li>
    <li><%= link_to 'Hash links (without Unpoly)', '/hash_test/vanilla' %></li>
    <li><%= link_to 'Revealing long pages', '/reveal_test/long1' %></li>
  </ul>

</div>
