<div class="example">

  <h1>Unpoly tests</h1>

  <h2>Unit tests</h2>

  <ul>
    <li>
      <%= link_to 'Jasmine specs with jQuery 3', '/specs?jquery=3' %>
      <%= link_to 'Jasmine specs with up-migrate', '/specs?migrate=1' %>
      <ul>
        <% %w[
          up.browser
          up.element
          up.error
          up.event
          up.feedback
          up.form
          up.fragment
          up.layer
          up.history
          up.migrate
          up.link
          up.log
          up.modal
          up.motion
          up.popup
          up.protocol
          up.network
          up.radio
          up.rails
          up.syntax
          up.tooltip
          up.util
          up.viewport
        ].each do |mod| %>
          <li><%= link_to mod, "/specs?spec=#{mod}" %></li>
        <% end %>
      </ul>
    </li>
    <li>
      <%= link_to 'Jasmine specs with jQuery 2', '/specs?jquery=2' %>
    </li>
    <li>
      <%= link_to 'Jasmine specs with jQuery 1', '/specs?jquery=1' %>
    </li>
  </ul>

  <h2>Integration tests</h2>

  <ul>
    <li><%= link_to 'Layer', '/css_test/layer' %></li>
    <li><%= link_to 'Form (basic)', '/form_test/basic/new' %></li>
    <li><%= link_to 'Form (validation)', '/form_test/validation/new' %></li>
    <li><%= link_to 'Form (upload)', '/form_test/upload/new' %></li>
    <li><%= link_to 'Form (redirect)', '/form_test/redirect/new' %></li>
    <li><%= link_to 'Error', '/error_test/trigger' %></li>
    <li><%= link_to 'Booting with non-GET method', '/method_test/page1' %></li>
    <li><%= link_to 'Fragment update (basic)', '/replace_test/page1' %></li>
    <li><%= link_to 'Fragment update (table)', '/replace_test/table' %></li>
    <li><%= link_to 'Hash links (without Unpoly)', '/hash_test/vanilla#one' %></li>
    <li><%= link_to 'Hash links (with Unpoly)', '/hash_test/unpoly#one' %></li>
    <li><%= link_to 'Revealing content in an overflowing <div> ', '/reveal_test/within_overflowing_div_viewport' %></li>
    <li><%= link_to 'Revealing content in the document viewport ', '/reveal_test/within_document_viewport' %></li>
    <li><%= link_to 'Revealing long pages', '/reveal_test/long1' %></li>
    <li><%= link_to 'Scrolling behavior', '/scroll_test/long1' %></li>
    <li><%= link_to 'Animations', '/motion_test/animations' %></li>
    <li><%= link_to 'Transitions', '/motion_test/transitions' %></li>
    <li><%= link_to 'Compilers', '/compiler_test/timestamp' %></li>
  </ul>

</div>
