<div class="example">

  <h1>Unpoly tests</h1>

  <h2>Unit tests</h2>

  <ul>
    <li><%= link_to 'Jasmine specs', '/specs' %></li>
  </ul>

  <h2>Integration tests</h2>

  <ul>
    <li><%= link_to 'Tooltip', '/css_test/tooltip' %></li>
  </ul>

  <ul>
    <li><%= link_to 'Popup', '/css_test/popup' %></li>
  </ul>

  <ul>
    <li><%= link_to 'Form (basic)', '/form_test/basic/new' %></li>
  </ul>

  <ul>
    <li><%= link_to 'Form (upload)', '/form_test/upload/new' %></li>
  </ul>

</div>
